.clear {
    clear: both;
}
#profile-modal, #game-modal, #events-modal{
    color: #788fba;
    width: 600px;
    height: auto;
    background: #2b2a2b;
    padding: 25px;
    font-size: 18px;
}


.avatar{
    float: left;
    width: 176px;
    display: flex;
}
.avatar i{
    color: #d45640;
    font-size: 180px;
    text-align: center;
}
.personal-data, .edit-personal-data{
    float: right;
    width: calc(100% - 200px - 10px);
    margin-bottom: 20px;
}
.nick p:nth-child(1), .email p:nth-child(1), .city p:nth-child(1), .new-password p:nth-child(1), .confirm-password p:nth-child(1){
    width: 180px;
    float: left;
}

.nick p:nth-child(2), .email p:nth-child(2), .city p:nth-child(2){
    width: calc(100% - 180px - 15px );
    float: right;
    margin-right:15px;
}
.new-password input, .confirm-password input, .nick input, .email input, .city input{
    width: 190px;
    height: 34px;
    background: #d45640;
    border: transparent;
    border-radius: 15px;
    margin: 1em auto;
    padding: 0 5px 0 15px;
}

textarea{
    background: #d45640;
    border: transparent;
    border-radius: 15px;
    padding: 5px 15px;
}
.personal-data .nick, .personal-data .email, .personal-data .city{
    border-bottom: #d45640 2px solid;
}
.personal-description p:nth-child(2){
    text-align: justify;
}

#edit-btn, #confirm-btn{
    float: right;
    width: 160px;
    background: #788fba;
    height: 34px;
    border: transparent;
    border-radius: 10px;
    font-size: 18px;
}

.first, .second, .third{
    float: left;
    width: 75px;
    height: 25px;
    background:red;
    margin-left: 15px;
    border:1px #788fba solid;
}
.background, .second-background, .third-background,.color-text, .color-link{
    width: 15px;
    height: 25px;
    float: left;
}

.first .background{background: #2b2a2b;}
.first .second-background{background: #4b4d42;}
.first .third-background{background: #777a76;}
.first .color-text{background: #788fba;}
.first .color-link{background: #d45640;}

.second .background{background: #e2e9c0;}
.second .second-background{background: #4c514b;}
.second .third-background{background: #1d0f1c;}
.second .color-text{background: #a70020;}
.second .color-link{background: #7aa95b;}

.third .background{background: #2e350d;}
.third .second-background{background: #53611c;}
.third .third-background{background: #bd9151;}
.third .color-text{background: #f0c68f;}
.third .color-link{background: #7f5221;}

#events-modal{
    width: 660px;
}

.result-game > ul{
    margin: 0 auto;
    width: 30em;
}
.result-event > ol{
    list-style-type: none;
    width: 45em;
}
.result-event ul{
    float: left;
}
.result-event ol li:nth-child(3n+1){
    list-style-type: disc;
}

.result-event> ol li{
    float: left;
    width: 13em;
    margin-bottom:15px;
}
.result-game> ul li {
    float: left;
    width: 10em;
}

div.result-game, div.result-event{
    margin-top: 30px;
}


.search-game i,.search-event i{
    color: #2b2b2b;
    position: relative;
    font-size: 26px;
    top: -30px;
}
.search-game i{
    left: 548px;
}
.search-event i{
    right: 36px;
    top: 5px;
}

.search-game input, .search-event input {
    background: #788fba;
    height: 34px;
    width: 550px;
    border:transparent;
    border-radius: 15px;
    padding: 0 15px 0 15px;
}
.search-event input{
    width: 598px;
}
