.sticky {
    position: fixed;
    top: 110px;
    background: var(--first-bg);
}
.sticky input {
    margin-bottom: 0;
}
.sticky .game-element {
    padding: 5px;
}
.game-list {
    width: 80%;
}
.game-list input {
    max-width: 980px;
}
tbody tr:hover {
    background:  var(--darkenen-first-bg-5);
    transition: background 0.3s ease;
}
thead {
    margin-bottom: 10px;
}

tbody tr td{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--blue);
}
.game-list .game-element {
    margin-top: 15px;
    margin-bottom: 15px;
}
tbody tr:first-child{
    margin-top:5px;
}
.game-title, .place{
    max-width: 150px;
}
