.comment {
    width: 90%;
    margin: 15px auto;
    padding: 20px;
    display: flex;
    background: var(--darken-third-bg-25);
    border-radius: 15px;
}
.comment .comment-identification {
    max-width: 100px;
    margin: 0 auto;
}
.comment .comment-identification .comment-created {
    font-size: 9px;
}

.comment .comment-identification p {
    text-align: center;
}
.comment .comment-identification img {
    max-width: 60px;
}
.comment .comment-content {
    margin: 1em;
}

@media screen and (max-width: 768px){
    .comment{
        flex-direction: column;
    }
}