@import "../variables";

#profile {
  width: 80%;
  max-width: 800px;

  .short-info {
    display: flex;
    justify-content: space-evenly;

    .avatar {

      i {
        font-size: 180px;
        color: @red;
      }
    }

    .personal-data {
      width: 60%;

      .nick, .email, .city {
        display: flex;

        & :first-child {
          margin-right: 10px;
        }
      }

    }
  }
  .personal-description {
    text-align: justify;
  }
  .colors{
    .background, .second-background, .third-background,.color-text, .color-link{
      width: 15px;
      height: 25px;
      float: left;
    }
    .first, .second, .third{
      float: left;
      width: 75px;
      height: 25px;
      margin-left: 15px;
      border:1px #788fba solid;
    }
    .first {
      .background {
        background: #2b2a2b;
      }

      .second-background {
        background: #4b4d42;
      }

      .third-background {
        background: #777a76;
      }

      .color-text {
        background: #788fba;
      }

      .color-link {
        background: #d45640;
      }
    }

    .second {
      .background {
        background: #e2e9c0;
      }

      .second-background {
        background: #4c514b;
      }

      .third-background {
        background: #1d0f1c;
      }

      .color-text {
        background: #a70020;
      }

      .color-link {
        background: #7aa95b;
      }
    }

    .third {
      .background {
        background: #2e350d;
      }

      .second-background {
        background: #53611c;
      }

      .third-background {
        background: #bd9151;
      }

      .color-text {
        background: #f0c68f;
      }

      .color-link {
        background: #7f5221;
      }
    }
  }
}

.registry{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

  #separator{
    .up,.bottom {
      height: 50%;
      background: @blue;
      width: 3px;
      margin: 0 auto;
    }
    img{
      position: relative;
      top: 2px;
      width: 25px;
    }
  }
}
