body{
  background:#2b2a2b;
  margin: 0;
  color: #788fba;
  min-height: calc(100vh + 500px);
}
.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a{
  text-decoration: none;
  color: inherit;
}
#content{
  margin-top:50px;
  display: flex;
  justify-content: space-between;
}
